#body-pd .bg-color1{
    background-color: #08D9D6;
}

#body-pd .bg-color2{
    background-color: #252A34;
}

#body-pd .bg-color3{
    background-color: #FF2E63;
}

#body-pd .bg-color4{
    background-color: #EAEAEA;
}

#body-pd .color1{
    background-color: #08D9D6;
}

#body-pd .color2{
    background-color: #252A34;
}

#body-pd .color3{
    background-color: #FF2E63;
}

#body-pd .color4{
    background-color: #EAEAEA;
}